{% include 'home/base.html'%}

<div class="topnav3">
  {% if page == "home" %}<a class="active" href="{% url 'configure' %}">Home</a>{% else %} <a href="{% url 'configure' %}">Home</a>{% endif %}
  {% if page == "assets" %}<a class="active" href="{% url 'assets' %}">Assets</a>{% else %} <a href="{% url 'assets' %}">Assets</a>{% endif %}
  {% if page == "budget" %}<a class="active" href="{% url 'budget' %}">Budget</a>{% else %} <a href="{% url 'budget' %}">Budget</a>{% endif %}
  {% if page == "tco" %}<a class="active" href="{% url 'tco' %}">TCO</a>{% else %} <a href="{% url 'tco' %}">TCO</a>{% endif %}
  <a class="a2">
    <form method="POST" class="post-form"> 
      {% csrf_token %}
      Threshold
      <input type="number" name="low" required placeholder={{threshold.threshold_low}} step="0.1">
      <input type="number" name="medium" required placeholder={{threshold.threshold_medium}} step="0.1">
      <button type="submit" class="submit">Submit</button>
      {% if error.non_field_errors %}<div class="threshold-error">{{error.non_field_errors}}</div>{% endif %}
    </form>
  </a>
</div>

<div class="asset-content">

<ul id="myUL">
      {% for floor in floors %}
        <li><span class="box">
            <div class="floor-card">
                <b>Floor ID: {{ floor.floorid }}  </b>
                <hr>
                <p>Floor Name: {{ floor.floorname }}</p>
                <p>Floor Description: {{ floor.description }}</p>
            </div>
        </span>
          <ul class="nested">
            {% for rack in racks %}
              {%if rack.floorid == floor.floorid%}
                <li><span class="box">
                    <div class="rack-card">
                        <b>Rack ID: {{ rack.rackid }}</b>
                        <hr>
                        <p>Rack Name: {{ rack.rackname }}</p>
                        <p>Rack Description: {{ rack.description }}</p>
                    </div>
                </span>
              {%endif%}
              <ul class="nested">
                {% for host in hosts %}
                  {%if host.rackid == rack.rackid %}
                    <li><span class="box">
                        <div class="host-card">
                            <b>Host ID: {{ host.hostid }}</b><hr>
                            <p>Host Name: {{ host.hostname }}</p>
                            <p>Responses (mins): {{ host.cpu_responses }}</p>
                            {% if host.cpu_usage > threshold.threshold_medium %}
                              <p class = "cpu-usage" style="background-color: rgb(11, 226, 58)">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>
                            {% elif host.cpu_usage < threshold.threshold_low %} 
                              <p class = "cpu-usage" style="background-color: rgb(235, 59, 59)">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>
                            {% elif host.cpu_usage == none %} 
                              <p class = "cpu-usage" style="background-color: #b8b8b8">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>        
                            {% else %} 
                              <p class = "cpu-usage" style="background-color: rgb(235, 188, 59)">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>
                            {% endif %}

                            <div class="tooltip">More Info
                              <span class="tooltiptext">
                            
                            Host Description: {{ host.hostdescription }}<br>
                            Host Type: {{ host.hostType }}<br>
                            # Processors: {{ host.processors }}<br>
                            IP Address: {{ host.ipaddress }}<br>
                            
                              </span>
                            </div>                
                        </div>
                    </span>
                  {%endif%}
                {%endfor%}
              </ul>
              {%endfor%}
            </li>
          </ul>
        </li>  
        {% endfor %}
</ul>

</div>
{% comment %} <script>
  var toggler = document.getElementsByClassName("box");
  var i;
  
  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("check-box");
    });
  }
</script> {% endcomment %}
{% comment %} <script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script> {% endcomment %}
<script src="/../../static/js/tree.js"></script>

<script src="/../../static/js/tooltip.js"></script>


</div>


