{% include 'home/base.html'%}
<head>
  <link rel="stylesheet" href="/../../static/css/styles.css">
</head>

{% block content %}
<div class="content">
  <h2>Available Floors: {{floor_count}}</h2>
  <div class="card-container">
    {% for floor in floors %}
    <div class="card">
      <div style="background-color: rgb(255, 255, 255)">
        <b>Floor ID: {{ floor.floorid }}</b>
        <hr>
        <p>Floor Name: {{ floor.floorname }}</p>
        <p>Floor Description: {{ floor.description }}</p>
        <p>Data center: {{ floor.datacenterid }}</p>
          <a href="{{floor.floorid}}/racks"><input type="submit" value="View Floor"
              class="btn btn-danger btn-sm" type="button" /></a>
      </div>
    </div>
    {% endfor %}
  </div>  
</div>
{% endblock %}