{% include 'home/base.html'%}
<head>
  <link rel="stylesheet" href="/../../static/css/styles.css">
</head>

{% comment %} {% block content %} {% endcomment %}
<div class="content">
  
    {% for floor in floors %}
    <div class="card-container">
    <div class="floor-card">
        <b>Floor ID: {{ floor.floorid }}</b>
        <hr>
        <p>Floor Name: {{ floor.floorname }}</p>
        <p>Floor Description: {{ floor.description }}</p>
        <p>Data center: {{ floor.datacenterid }}</p>
          <a href="{{floor.floorid}}/racks"><input type="submit" value="View Floor"
              class="btn btn-danger btn-sm" type="button" /></a>
    </div>
  </div>  
    {% endfor %}
  
</div>
{% comment %} {% endblock %} {% endcomment %}