{% include 'home/base.html'%}
<head>
    <link rel="stylesheet" href="/../../static/css/styles.css">
</head>
  
  {% block content %}

  <div class="content">
    <form method="POST" class="post-form"> 
      {% csrf_token %}
      Lower Threshold
      <input type="text" name="low">
      Upper Threshold
      <input type="text" name="medium">
      <button type="submit" class="save   btn btn-default">Submit</button>
    </form>

    <h2>Available Hosts: {{host_count}}</h2>
    <div class="card-container">
      {% for host in hosts %}
      <div class="card3">
        <div style="background-color: rgb(255, 255, 255)">
          <b>Host ID: {{ host.hostid }}</b>
          <hr>
          <p>Rack ID: {{ host.rackid }}</p>
          <p>Host Name: {{ host.hostname }}</p>
          <p>Host Description: {{ host.hostdescription }}</p>
          <p>Host Type: {{ host.hostType }}</p>
          <p># Processors: {{ host.processors }}</p>
          <p>IP Address: {{ host.ipaddress }}</p>

          {% if host.cpu_usage > threshold.medium %}
          <p style="background-color: rgb(235, 59, 59)">CPU Usage: {{ host.cpu_usage }}%</p>
          {% elif host.cpu_usage < threshold.low %} 
          <p style="background-color: rgb(11, 226, 58)">CPU Usage: {{ host.cpu_usage }}%</p>
          {% else %} 
          <p style="background-color: rgb(235, 188, 59)">CPU Usage: {{ host.cpu_usage }}%</p>
          {% endif %}

          <p>Responses (mins): {{ host.responses }}</p>
          <button onClick="window.location.reload();">Update</button>
        </div>
      </div>
      {% endfor %}
    </div>  
  </div>
  {% endblock %}
