{% include 'home/base.html'%}
<head>
    <link rel="stylesheet" href="/../../static/css/styles.css">
</head>
  
{% block content %}
  <div class="content">
    <form method="POST" class="post-form"> 
      {% csrf_token %}
      Lower Threshold
      <input type="number" name="low" required placeholder={{threshold.low}} step="0.1">
      Upper Threshold
      <input type="number" name="medium" required placeholder={{threshold.medium}} step="0.1">
      <button type="submit" class="save   btn btn-default">Submit</button>

      {% if error.non_field_errors %}<div class="threshold-error">{{error.non_field_errors}}</div>{% endif %}

    </form>

    
    <!-- <div class="bar error">Hey</div> -->

    {% comment %} <h2>Available Hosts: {{host_count}}</h2> {% endcomment %}
    
      {% for host in hosts %}
      <div class="card-container">
      <div class="host-card">
          <b>Host ID: {{ host.hostid }}</b><hr>
          <p>Rack ID: {{ host.rackid }}</p>
          <p>Host Name: {{ host.hostname }}</p>
          <p>Host Description: {{ host.hostdescription }}</p>
          <p>Host Type: {{ host.hostType }}</p>
          <p># Processors: {{ host.processors }}</p>
          <p>IP Address: {{ host.ipaddress }}</p>
          <p>Responses (mins): {{ host.responses }}</p>

          {% if host.cpu_usage > threshold.medium %}
            <p class = "cpu-usage" style="background-color: rgb(235, 59, 59)">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>
          {% elif host.cpu_usage < threshold.low %} 
            <p class = "cpu-usage" style="background-color: rgb(11, 226, 58)">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>
          {% elif host.cpu_usage == none %} 
            <p class = "cpu-usage" style="background-color: #b8b8b8">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>        
          {% else %} 
            <p class = "cpu-usage" style="background-color: rgb(235, 188, 59)">CPU Usage: {{ host.cpu_usage|floatformat }}%</p>
          {% endif %}
          
          <button onClick="window.location.reload();">Update</button>
      </div>
    </div>  
      {% endfor %}
    
  </div>
{% endblock %}
