{% include 'home/base.html'%}
<head>
  <link rel="stylesheet" href="/../../static/css/styles.css">
</head>

{% block content %}
<div class="content">
{% comment %} <h2>Available Racks: {{rack_count}}</h2> {% endcomment %}
  <div class="card-container">
    {% for rack in racks %}
      <div class="rack-card">
          <b>Rack ID: {{ rack.rackid }}</b>
          <hr>
          <p>Parent Floor ID: {{ rack.floorid }}</p>
          <p>Rack Name: {{ rack.rackname }}</p>
          <p>Description: {{ rack.description }}</p>
          <p>PDU: {{ rack.pdu }}</p>
            <a href="racks/{{rack.rackid}}/hosts"><input type="submit" value="View Rack"
                class="btn btn-danger btn-sm" type="button" />
            </a>
      </div>
    {% endfor %}
  </div>  
</div>
{% endblock %}