{% include 'home/base.html'%}
<head>
  <link rel="stylesheet" href="/../../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>
{% block content %}

<div class="content">
  <body>

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Carbon')" id="defaultOpen">Carbon</button>
    <button class="tablinks" onclick="openCity(event, 'Energy')">Energy</button>
    <button class="tablinks" onclick="openCity(event, 'Cost')">Cost</button>
  </div>

  <div id="Carbon" class="tabcontent">
    <div class="img_container"> 
      <h3>Total Usage (KgCo2)</h3>
      {{g3|safe}} 
    </div>
    <div class="img_container"> 
      <h3>Host Usage (KgCo2)</h3>
      {{g4|safe}} 
    </div>
  </div>

  <div id="Energy" class="tabcontent">
    <div class="img_container"> 
      <h3>Total Usage (kWh)</h3>
      {{g1|safe}} 
    </div>
    <div class="img_container"> 
      <h3>Host Usage (kWh)</h3>
      {{g2|safe}} 
    </div>
  </div>
  


  <div id="Cost" class="tabcontent">
    <div class="img_container"> 
      <h3>Total Estimated Cost (Euro)</h3>
      {{g5|safe}} 
    </div>
    <div class="img_container"> 
      <h3>Hosts Estimated Cost (Euro)</h3>
      {{g6|safe}} 
    </div>
  </div>
  
  <script src="/../../static/js/tabs.js"></script>
  </body>
</div>

{% endblock %}
</html> 