{% include 'home/base.html'%}
<head>
  <link rel="stylesheet" href="/../../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<html>

<div class="content">

  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Carbon')" id="defaultOpen">Carbon</button>
    <button class="tablinks" onclick="openCity(event, 'Energy')">Energy</button>
    <button class="tablinks" onclick="openCity(event, 'Cost')">Cost</button>
  </div>

  <div id="Carbon" class="tabcontent">
    <div class="img_container"> 
      <img src="data:image/png;base64,{{ g1 }}" alt="">
      &nbsp; &nbsp;
      <img src="data:image/png;base64,{{ g2 }}" alt="">
    </div>
  </div>
  
  <div id="Energy" class="tabcontent">
    <div class="img_container"> 
      <img src="data:image/png;base64,{{ g3 }}" alt="">
      &nbsp; &nbsp;
      <img src="data:image/png;base64,{{ g4 }}" alt="">
    </div>
  </div>

  <div id="Cost" class="tabcontent">
    <div class="img_container"> 
      <img src="data:image/png;base64,{{ g5 }}" alt="">
      &nbsp; &nbsp;
      <img src="data:image/png;base64,{{ g6 }}" alt="">
    </div>
  </div>
  <script src="/../../static/js/tabs.js"></script>
</div>

</html> 