{% include 'home/base.html'%}

<div class="topnav3">
  {% if page == "home" %}<a class="active" href="{% url 'configure' %}">Home</a>{% else %} <a href="{% url 'configure' %}">Home</a>{% endif %}
  {% if page == "assets" %}<a class="active" href="{% url 'assets' %}">Assets</a>{% else %} <a href="{% url 'assets' %}">Assets</a>{% endif %}
  {% if page == "budget" %}<a class="active" href="{% url 'budget' %}">Budget</a>{% else %} <a href="{% url 'budget' %}">Budget</a>{% endif %}
  {% if page == "tco" %}<a class="active" href="{% url 'tco' %}">TCO</a>{% else %} <a href="{% url 'tco' %}">TCO</a>{% endif %}
  <a class="a2">
    <form method="POST">
      {% csrf_token %}
      <label for="order">Order by:</label>
      <select name="order" id="order">
        <option value="" disabled selected>Select</option>
        <option value="host">Host ID</option>
        <option value="TCO">TCO</option>
        <option value="kWh_consumed">kWh Consumed</option>
        <option value="ops_cons_3">Operational Consumption</option>
        <option value="op_cost_3">Operational Cost</option>
        <option value="carbon_footprint_3">Carbon Footprint</option>
        <option value="app_waste_cost_3">Apparant Wastage</option>
      </select>
      <input type="submit" value="Go">
    </form>
  </a>
</div>
  
{% block content %}
  
  <div class="content">    

      {% if error.non_field_errors %}<div class="capital-error">{{error.non_field_errors}}</div>{% endif %}
      {% for host in tco %}
      <div class="card-container">
          <div class="tco-card">
          <b>Host ID: {{ host.hostid }}</b>
          <hr>
          <p>Floor: {{ host.floorid }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rack: {{ host.rackid }}</p>

          <form method="POST">
            {% csrf_token %}
            <label for="capital" >Capital Cost</label>
            <input type="number" id="capital" name="capital" required placeholder={{host.capital}}>
            <input type="hidden" id="host" name= "host" value={{host.hostid}}>
            <input type="hidden" id="rack" name= "rack" value={{host.rackid}}>
            <input type="hidden" id="floor" name= "floor" value={{host.floorid}}>
            <button type="submit" class="tco_calculate_button" >Calculate</button>
          </form>
          <hr>
          <table class ="tco-table">

            <tr>
              <th>TCO 3yrs (€)</th>
              <td>            
                {% if host.capital %}
                {{host.TCO|floatformat}}
                {%else%}
                --
                {%endif%}
              </td>
            </tr>

            <tr>
              <th>Responses (mins)</th>
              <td>            
                {{host.power_responses|floatformat}}
              </td>
            </tr>
            <tr>
              <th>kWh Consumed</th>
              <td>            
                {{host.kWh_consumed|floatformat}} 
              </td>
            </tr>

            <tr>
              <th>Operational Cons 3yrs (kWh)</th>
              <td>            
                {{host.ops_cons_3|floatformat}}
              </td>
            </tr>
            <tr>
              <th>Operational Cost 3yrs (€)</th>
              <td>            
                {{host.op_cost_3|floatformat}}
              </td>
            </tr>
            <tr>
              <th>Carbon Footprint 3yrs (KgCo2)</th>
              <td>            
                {{host.carbon_footprint_3|floatformat}}
              </td>
            </tr>
            <tr>
              <th>Apparant Wastage 3yrs (€)</th>
              <td>            
                {{host.app_waste_cost_3|floatformat}}
              </td>
            </tr>
          </table>
      </div>
    </div> 
    {% endfor %}
  </div>

{% endblock %}

