{% include 'home/base.html'%}
<head>
    <link rel="stylesheet" href="/../../static/css/styles.css">
</head>
  
  {% block content %}
  
  <div class="content">
    <h2>All hosts in data centers: {{tco_count}}</h2>
    <div class="card-container">
      {% for host in tco %}
      <div class="card4">
        <div style="background-color: rgb(255, 255, 255)">
          <b>Host ID: {{ host.hostid }}</b>
          <hr>
          <p>Floor: {{ host.floorid }}</p>
          <p>Rack: {{ host.rackid }}</p>
          <p>IP Address: {{ host.ipaddress }}</p><hr>

          <form method="POST">
            {% csrf_token %}
            <label for="capital">Capital Cost</label>
            <input type="text" id="capital" name="capital">
            <input type=hidden id=host name= host value={{host.hostid}}>
            <input type=hidden id=rack name= rack value={{host.rackid}}>
            <input type=hidden id=floor name= floor value={{host.floorid}}>
            <button type="submit" class="save">Calculate TCO</button>
          </form>

          <hr>
          <p>Capital cost: {{ host.capital }}</p>
          <p>TCO 3yrs: {{ host.TCO }}</p>
          <p>Carbon Footprint 3yrs: {{ host.carbon_footprint_3 }}</p>
          <p>Total watt hour: {{ host.total_watt_hour }}</p>
          <p>Total minutes: {{ host.minutes }}</p>
          <p>Total hours: {{ host.hours }}</p>
          <p>Avg watt hour: {{ host.avg_watt_hour }}</p>
          <p>average kWh: {{ host.avg_kWh }}</p>
          <p>ops_cons_3: {{host.ops_cons_3}}</p>
          <p>op_cost_3: {{host.op_cost_3}}</p>
        </div>
      </div>
      {% endfor %}
    </div>  
    <h4>TCO = capital + (energy_cost * ops_cons_3)</h4>
    <h4>carbon_footprint_3 = ops_cons_3 * carbon_conversion</h4>
    <h4>sum_of_watts = sum of all watts from api response</h4>
    <h4>Total minutes = count of all minutes returned in response (not unique count)</h4>
    <h4>Total hours = total minutes / 60</h4>
    <h4>watt_hour = sum_of_watts / total hours</h4>
    <h4>kWh = watt_hour / 1000</h4>
    <h4>ops_cons_3 = (24 * 7 * kWh) * (52 * 3)</h4>
    <h4>op_cost_3 = ops_cons_3 * PUE * carbon_conversion</h4>
  </div>
  {% endblock %}
