{% include 'home/base.html'%}
<head>
  <link rel="stylesheet" href="/../../static/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<div class="content">

  <div class="sidenav">

    <!-- <br> -->
    <div class="change_current_card">
      <h3>Selected Data Center: {{current}}</h3>
      <form method="POST">
        {% csrf_token %}
        <select name="current_datacenter" >
          <option value={{current}} disabled selected>{{current}}</option>
          {% for datacenter in configured %}
            <option name="current_datacenter" >{{ datacenter.sub_id }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="save">Submit</button>
      </form>
    </div>
    

    <div class="change_master_card">
      <h3>Change Master IP</h3>
      <form method="POST">
        {% csrf_token %}
        <input type="text" id="ip" name="ip" placeholder={{master}}>
        <button type="submit" class="save" >Change</button>
      </form>
    </div>

    <div class="configure_card">
      <h3>Configure New Datacenter</h3>
      <hr>
    <form method="POST">
    {% csrf_token %}
    <table style="width:100%" class="table2">
      <tr>
        <th>* Datacenter</th>
        <td>            
          <label for="to_configure"></label>
          <select name="to_configure">
          {% for datacenter in datacenters %}
              <option name="to_configure" >{{ datacenter.datacenterid }}</option>
          {% endfor %}
          </select></td>
      </tr>

      <tr>
        <th>* Start Date</th>
        <td>            
          <label for="start"></label>
          <input type="date" id="start" name="start">
        </td>
      </tr>
      
      <tr>
        <th>End Date</th>
        <td>            
          <label for="endTime"></label>
          <input type="date" id="endTime" name="endTime">
        </td>
      </tr>

      <tr>
        <th>* PUE</th>
        <td>            
          <label width="1px" for="pue"></label>
          <input type="number" id="pue" name="pue" step="0.1">
        </td>
      </tr>

      <tr>
        <th>* Energy Cost</th>
        <td>            
          <label for="energy_cost"></label>
          <input type="number" id="energy_cost" name="energy_cost" step="0.1">
        </td>
      </tr>

      <tr>
        <th>* Carbon Conversion</th>
        <td>            
          <label for="carbon_conversion"></label>
          <input type="number" id="carbon_conversion" name="carbon_conversion" step="0.1">
        </td>
      </tr>

      <tr>
        <th>Carbon Budget</th>
        <td>            
          <label for="budget"></label>
          <input type="number" id="budget" name="budget" step="10">
        </td>
      </tr>
      <tr>
        <th></th>
        <td>            
          <button type="submit" class="save">Submit</button>
        </td>
      </tr>
    </table>
    
    </form>
  </div>
  </div>


{% block content %}
<div class="configure_content">
<h3> Configured Data Centers: {{configured_count}}</h3>
<table style="width:100%" class="styled-table">
  <thead>
  <tr>
    <th>Datacenter ID</th>
    <th>Instance</th>
    <th>PUE</th>
    <th>Energy Cost</th>
    <th>Carbon Conversion</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Budget</th>
    <th></th>
  </tr>
  </thead>
  {% for datacenter in configured %}
  <tbody>
    {% if datacenter.sub_id == current %}<tr style="font-weight: bold; color: #009879; background-color: rgb(240, 240, 255);">{% else %}<tr>{% endif %}
      
    <td>{{datacenter.datacenterid}}</td>
    <td>{{datacenter.sub_id}}</td>
    <td>{{datacenter.pue}}</td>
    <td>{{datacenter.energy_cost}}</td>
    <td>{{datacenter.carbon_conversion}}</td>
    <td>{{datacenter.startTime}}</td>
    <td>{{datacenter.endTime}}</td>
    <td>{{datacenter.budget}}</td>
    <td>
      <form method="POST">
          {% csrf_token %}
          <button type="submit" class="save" name = "to_delete" value={{datacenter.sub_id}}>Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
  {% endfor %}
</table>

<br>
<h3> Available Data Centers </h3>
<table style="width:100%" class="styled-table">
  <thead>
  <tr>
    <th>Datacenter ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
</thead>
  {% for datacenter in datacenters %}
  <tbody>
  <tr>
    <td>{{datacenter.datacenterid}}</td>
    <td>{{datacenter.datacentername}}</td>
    <td>{{datacenter.description}}</td>
  </tr>
</tbody>
  {% endfor %}

</table>

{% endblock %} 
</div>
</div>



<script>
$('.form-btn').click(function(){
$(this).next().toggleClass('show-form');
});
</script>