<!DOCTYPE html>
<html lang="en">
  
<head>
  {% block title %}<title>Data Center Management Tool</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/../../static/css/styles.css">

</head>

<div class="topnav">
  <h2><img alt="My Image" src="/../../static/media/logo3.png" height="70" width="210"/></h2>
  <br><br>
  
  <h3>Master IP: {{master}}</h3>
  <h3>Datacenter: {{current}}</h3>
</div>

<div class="topnav3">
  <a class="active" href="{% url 'datacenters' %}">Home</a>
  <a href="{% url 'floors' %}">Assets</a>
  <a href="{% url 'budget' %}">Budget</a>
  <a href="{% url 'tco' %}">TCO</a>
  <a href="{% url 'configure' %}">Configure</a>
</div>


<div class="content">

  {% block content %}
  {% endblock %}
</div>
</html>



